.bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#back{
    min-height: 100%;
    width: 100%;
}

#picture{
    position: fixed;
    top: 40px;
    left: 170px;
}

#Title{
    position: fixed;
    top: 40px;
    left: 320px;
}

#myCanvas{
    border: 5px solid sienna;
    position: fixed; 
    top: 25%; 
    left: 10%;
    background-color: white;
    border-radius: 10%;
    z-index: 5;
    float: left;
}

#music{
    position: fixed;
    top: 10px;
    right: 140px;
}

#tools{
    position: fixed;
    top: 90px;
    right: 120px;
}

.btn{
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.btn:hover{
    border: 3px solid #CC6600;
}

#text_input{
    margin-bottom: 30px;
}

#brush{
    background-image:url('img/brush.png');
}

#eraser{
    background-image:url('img/eraser.png');
    margin-left: 15px;
}

#text{
    background-image:url('img/text.png');
    margin-left: 15px;
}

#rainbow{
    background-image:url('img/rainbow.png');
    margin-left: 15px;
}

#circle{
    background-image:url('img/circle.png');
    margin-top: 15px;
}

#triangle{
    background-image:url('img/triangle.png');
    margin-left: 15px;
    margin-top: 15px;
}

#rectangle{
    background-image:url('img/rectangle.png');
    margin-left: 15px;
    margin-top: 15px;
}

#line{
    background-image:url('img/line.png');
    margin-left: 15px;
    margin-top: 15px;
}

#fillcir{
    background-image:url('img/circlefill.png');
    margin-top: 15px;
}

#filltri{
    background-image:url('img/trianglefill.png');
    margin-left: 15px;
    margin-top: 15px;
}

#fillrec{
    background-image:url('img/rectanglefill.png');
    margin-left: 15px;
    margin-top: 15px;
}

#fill{
    background-image:url('img/fill.png');
    margin-left: 15px;
    margin-top: 15px;
}

#undo{
    background-image:url('img/undo.png');
    margin-top: 15px;
}

#redo{
    background-image:url('img/redo.png');
    margin-left: 15px;
    margin-top: 15px;
}

#clean{
    background-image:url('img/clean.png');
    margin-left: 15px;
    margin-top: 15px;
}

#upload{
    width: 70px;
    margin-left: 30px;
}

#save{
    background-image:url('img/save.png');
    margin-left: 15px;
}

#range{
    width: 200px;
    outline: none;
    background: none;
    margin-bottom: 18px;
    margin-top: 20px;
}

#range_label{
    position: relative;
    bottom: 6px;
    left: 10px;
}

label {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    opacity: 0.9;
}

#myColor{
    padding: 0;
    border: solid 6px white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

#font_selector {
    font-size: 14px;
    color: #3E2512;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Muli', sans-serif;
    margin-left: 10px;
}

#text_input {
    height: 10px;
    width: 180px;
    font-size: 14px;
    color: black;
    font-family: 'Merriweather', serif;
    padding: 3px 5px;
}